{{> header title='Boilerplate' hidenav="true"}}


<div class="container" style="margin-top: 40px">
  <div class="well">
    <strong>Images:</strong> Paths should be relative <code>&lt;img class="reservation-image is-loading" src="./images/cities/philly.jpg"&gt;</code>
    <br>
    <strong>Images in SASS:</strong> Paths should be relative <code>background-image: url('../images/caret.svg');</code>
    <br>
    <strong>Links:</strong> Links are pretty standard <code>./achievements.html</code>
  </div>


  <h2>MASTER BRANCH</h2>
  <div class="list-group">
    <a href="./demo.html" class="list-group-item">Demo</a>
    <a href="javascript:void(0)" class="list-group-item">Fake Link</a>
    <a href="javascript:void(0)" class="list-group-item">Another One</a>
    <a href="javascript:void(0)" class="list-group-item">What do you think?</a>
  </div>


</div>


{{> footer}}
